.page {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 85%, rgba(226, 236, 247, 1) 100%);
  padding-top: 50px;
}

/* ------- FORM ------- */

.no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Colore personalizzato dei bottoni */
.navigationBtn {
  background-color: rgb(26, 13, 43);
  border: 0px;
}

.navigationBtn:hover {
  background-color: #568fcf;
}

.navigationBtn:active {
  background-color: rgb(26, 13, 43) !important;
  box-shadow: none !important;
}

.document:hover {
  background-color: rgb(243, 241, 241);
}

/* ------- NAVBAR ------- */

.linkButton:hover {
  color: #568fcf !important;
}
